.aboutMe {
  background-image: url("pic/career-portfolio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mypic {
  width: 250px;
  height: 300px;
  margin-right: 2vh;
  border-radius: 30px;
}

.right {
  width: 800px;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 100px 0;
}
.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 100px;
  background-color: #eeeeee;
}

.color-gray {
  background-color: #eeeeee;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}
.footer h3 {
  color: #ffffff;
  font-style: italic;
}
.width-50 {
  width: 50%;
}
.margin-bottom-3 {
  margin-bottom: 9px;
}
